
@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	height: 100%
	width: 100%;
}
main{
	width: 100%;
	margin: 0 auto;
	
}
.header-1{
	background-color: black;
	height: 60px;
}
.menu-principal{
	width: 100%
}
.logo{
	padding: 10px;
	margin-left: 35px;
	width: 15%;
	float: left;
	position: absolute;
}
.botoes ul li{
	display: inline-block;
	float: left;
	list-style: none;
	margin-left: 60px;
	margin-top: 8px;
	text-align: center;
	color: white;
}
.botoes{
	width: 65%;
	float: right;
}
.botoes ul li a{
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-family: sans-serif;
}
.botoes ul li a:hover{
	color: #429ded;
	border-bottom: 3px solid #429ded;
}
.botoes ul li:hover{
	border-bottom: 3px solid #429ded;
}
.banner{
	margin-top: 0px;
	margin-bottom: 10px;
}
.imagembanner{
	width: ;
	height: 300px;

}
.welcome{
	background-color: white;
	height: 90px;
	font-size: 35px;
	color: #232b94;
	font-family: sans-serif;
	text-align: center;
}
.itens{
	width: 25%;
	height: 30%;
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 45px;
	padding-top: 35px;
	color: #232b94;
}
.itenslogo{
	margin-left: 18%;
}
footer{
	color: grey;
	font-family: sans-serif;
	font-size: 25px;
	margin-top: 330px;
	height: 50px;
	background-color: black;
}